@tailwind base;
@tailwind components;
@tailwind utilities;

.top-navigation-icon {
  @apply text-gray-500
  mr-3 ml-4
  transition duration-300 ease-in-out
  hover:text-sky-400
  cursor-pointer;
}

.nav-text {
  @apply flex
  mx-5 dark:text-white
  font-sans
  hover:text-sky-600
  hover:drop-shadow-2xl
  dark:hover:text-sky-600;
}